*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Vollkorn', serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: 5px;
}