.container{
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
  margin-bottom: 4rem
}
.titulo{
  font-family: "Playfair Display SC", georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}


@media(max-width: 700px){
  .container{
    grid-column: 1;
    grid-template-columns: 100px 1fr;
    gap: 10px;
  }
  .titulo{
    font-size: 3rem;
  }
}
